@model IEnumerable<Novella.ViewModels.ProductAdminVM>

@{
    ViewData["Title"] = "Admin Product Dashboard";
}

<div class="dashboard-container">
    <h1 id="dashboard-title">Admin Product Dashboard</h1>
    <p class="actions">
        <a class="btn btn-create" asp-action="Create">Create New</a>
    </p>
    <div class="table-responsive">
        <table id="product-table" class="styled-table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.ProductName)</th>
                    <th>@Html.DisplayNameFor(model => model.QuantityInStock)</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
                        <td>@Html.DisplayFor(modelItem => item.QuantityInStock)</td>
                        <td>
                            <a class="btn btn-edit" asp-action="Edit" asp-route-id="@item.ProductId">Edit</a>
                            <a class="btn btn-details" asp-action="Details" asp-route-id="@item.ProductId">Details</a>
                            <a class="btn btn-delete" asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                        
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
