@model Novella.ViewModels.ProductVM

@{
    ViewData["Title"] = "Product Detail";
}

<main id="detail-main">
    <div id="continue-shopping">
        <a href="@Url.Action("Index", "Home")">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5" />
            </svg> CONTINUE SHOPPING
        </a>
    </div>
    <div class="detail-container">
        <img id="detail-img" src="@ViewBag.ImageUrl" />
        <div id="detail-text">
            <p id="detail-title">@Model.ProductName</p>
            <p id="detail-subtitle">@Model.ProductDescription</p>
            <div class="detail-line"></div>
            <div id="detail-qty">
                <span>Quantity</span>
            </div>

            <form id="addToCartForm" asp-controller="Home" asp-action="AddToCart" method="post" style="display: flex; justify-content: space-between;">
                <input type="hidden" name="ProductId" value="@Model.ProductId" />
                <!-- Display the current quantity -->
                <input id="quantityInput" type="number" name="Quantity" value="0" min="0" max="100" />
                <!-- Button to add the product to cart -->
                <button id="addToCartButton" type="submit">Add to Bag</button>
            </form>
           
    </div>
</main>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Get the elements
        var quantityInput = document.getElementById('quantityInput');
        var addToCartButton = document.getElementById('addToCartButton');

        // Add event listener to the input field for quantity
        quantityInput.addEventListener('input', function () {
            updateCartAmount(parseInt(quantityInput.value));
        });

        // Function to update the cart amount in the layout
        function updateCartAmount(quantity) {
            // Update the cart amount in the layout
            document.getElementById('nav-cart-amount').textContent = quantity;
        }
    });
</script>
