@model Novella.ViewModels.ProductVM

@{
    ViewData["Title"] = "Product Detail";
}

<main id="detail-main">
    <div id="continue-shopping">
        <a href="@Url.Action("Index", "Home")">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5" />
            </svg> CONTINUE SHOPPING
        </a>
    </div>
    <div class="detail-container">
        <div id="detail-img-container">
            <img id="detail-img" src="@ViewBag.ImageUrl" style="border-radius: 5px;" />
        </div>

        <div id="detail-text">
            <p id="detail-title">@Model.ProductName</p>
            <p id="detail-subtitle">@Model.ProductDescription</p>
            <div class="detail-line"></div>
            <div id="detail-qty">
                <span>Quantity</span>

            </div>

            <form asp-action="AddToCart" method="post" id="quantity-form-container">
                <input type="hidden" name="ProductId" value="@Model.ProductId" />
                
                <div id="add-container">
                    <label for="quantity"></label>
                    <input id="quantity" type="number" name="Quantity" min="1" max="@Model.QuantityAvailable" value="1" />
                    <button id="addToCartButton" type="submit">Add to Bag</button>
                </div>
             
            </form>
            <div id="detail-rating">
                <span>Average Rating</span>
                <div class="rating-container">
                    @if (ViewBag.Rating == 0)
                    {
                        <p class="no-rating">No ratings yet</p>
                    }
                    else
                    {
                        // Round the rating value to the nearest 0.5
                        double roundedRating = Math.Round((double)ViewBag.Rating * 2) / 2;

                        // Calculate the number of filled stars
                        int filledStars = (int)Math.Floor(roundedRating);

                        // Check if there's a half star
                        bool hasHalfStar = roundedRating - filledStars == 0.5;

                        // Calculate the number of empty stars
                        int emptyStars = 5 - filledStars - (hasHalfStar ? 1 : 0);

                        <p class="card-rating">
                            @for (int i = 0; i < filledStars; i++)
                            {
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#62aee9" stroke="#62AEE9" stroke-width="1.5" class="bi bi-star-fill filled-star" viewBox="0 0 16 16">
                                    <path d="M8 0l2.485 5.087 5.542.807-4.02 3.915.948 5.501L8 12.587l-4.955 2.323.948-5.501-4.02-3.915 5.542-.807L8 0zm-.377 1.22l1.997 4.084 4.47.652-3.253 3.171.77 4.468-4.055-2.136-4.054 2.136.77-4.468-3.253-3.171 4.47-.652 1.997-4.084z" />
                                </svg>

                            }
                            @if (hasHalfStar)
                            {
                                <svg class="half-star" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 16 16">
                                    <!-- Left half filled star -->
                                    <path d="M8 0l-2.485 5.087L0.973 5.894l4.02 3.915-.948 5.501L8 12.587" fill="#62AEE9" />
                                    <!-- Right half empty star -->
                                    <path d="M8 0l2.485 5.087 5.542.807-4.02 3.915.948 5.501L8 12.587" stroke="#62AEE9" stroke-width="1" />
                                </svg>
                            }

                            @for (int i = 0; i < emptyStars; i++)
                            {
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#62aee9" class="bi bi-star" viewBox="0 0 16 16">
                                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z" />
                                </svg>
                            }
                        </p>
                    }
                </div>
            </div>

            <!-- New section for submitting ratings -->
            <div id="submit-rating">
                <h3>Submit Your Rating</h3>
                <form method="post" action="@Url.Action("SubmitRating", "Home")">
                    <input type="hidden" name="ProductId" value="@Model.ProductId" />
                    <div class="form-group">
                        <label for="rating">Rating (1.0 - 5.0):</label>
                        <input type="number" step="0.1" min="1.0" max="5.0" name="rating" id="rating" required />
                    </div>
                    <div id="review-group" class="form-group">
                        <label for="review">Review (optional):</label>
                        <textarea name="review" id="review" rows="4" cols="50"></textarea>
                    </div>
                    <button id="submit-review" type="submit">Submit</button>
                </form>
            </div>

            <!-- Reviews section -->
            <div id="detail-reviews">
                <h3>Written Reviews</h3>
                <ul>
                    @foreach (var review in ViewBag.Reviews)
                    {
                        <li>
                            <p class="review-p"><strong>@review.FirstName @review.LastName</strong> - @review.DateRated.ToString("MMMM dd, yyyy")</p>
                            <p class="review-p">@review.Review</p>
                        </li>
                    }
                </ul>

                <!-- Pagination -->
                @if (ViewBag.PageCount > 1)
                {
                    <nav id="nav-review" aria-label="Page Navigation">
                        <ul class="pagination">
                            @for (int i = 1; i <= ViewBag.PageCount; i++)
                            {
                                <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")"><a class="page-link" href="@Url.Action("Detail", new { productId = Model.ProductId, page = i })">@i</a></li>
                            }
                        </ul>
                    </nav>
                }
            </div>
        </div>
    </div>
</main>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Get the elements
        var quantityInput = document.getElementById('quantityInput');
        var addToCartButton = document.getElementById('addToCartButton');

        // Add event listener to the input field for quantity
        quantityInput.addEventListener('input', function () {
            updateCartAmount(parseInt(quantityInput.value));
        });

        // Function to update the cart amount in the layout
        function updateCartAmount(quantity) {
            // Update the cart amount in the layout
            document.getElementById('nav-cart-amount').textContent = quantity;
        }
    });
</script>