@page
@model IndexModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3 class="header-text">@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="boxes">
    
        <form method="post">
        <div class="box user-info">
            <div class="user-detail">
                <h2>@ViewData["FirstName"]  @ViewData["LastName"]</h2>
                <label>First Name</label>
                <input type="text" name="FirstName" value="@ViewData["FirstName"]">
                <label>Last Name</label>
                <input type="text" name="LastName" value="@ViewData["LastName"]">
                <label>Phone Number</label>
                <input type="text" name="PhoneNumber" value="@ViewData["PhoneNumber"]">
                <label>Email</label>
                <input type="email" id="emailInput" name="Email" value="@ViewData["Email"]">
            </div>
            <div class="save">
                <div class="save-div">
                    
                    <button type="submit" class="save-div-btn">
                        <svg style="color: rgb(0, 191, 255);" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" fill="#00bfff"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        </form>

    @* <div class="box user-billing">
        <div class="user-billing-info">
            <div class="billing-save">
                <h2>Billing Address</h2>
                <div class="save-div">
                    <svg style="color: rgb(0, 191, 255);" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" fill="#00bfff"></path>
                    </svg>
                    <p style="color: black; border-bottom:0;">Save</p>
                </div>
            </div>
            <input type="text" placeholder="First Name">
            <input type="text" placeholder="Last Name">
            <input type="text" placeholder="Address (Required)">
            <div class="city-province">
                <input type="text" placeholder="City">
                <input type="text" placeholder="Province">
            </div>
            <input type="text" placeholder="Postal Code">
        </div>
    </div> *@
</div>

<div class="delete-account">
    <button>DELETE ACCOUNT</button>
</div>

@section Scripts {

    <partial name="_ValidationScriptsPartial" />
}
