@model IEnumerable<Novella.ViewModels.RoleVM>

@{
    ViewData["Title"] = "User Roles Detail";
}

<h3>User: @ViewBag.UserName</h3>

<p>
    @Html.ActionLink( "Assign Roles"
    , "Create"
    , new { userName = @ViewBag.UserName })
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.RoleName)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.RoleName)</td>
            </tr>
        <td>
                @Html.ActionLink("Delete", "DeleteRoleFromUser", new { userName = @ViewBag.UserName, roleName = item.RoleName }, new { @class = "btn btn-danger btn-sm", onclick = "return confirm('Are you sure you want to delete this role?');" })
        </td>
        }
    </tbody>
</table>
