@model IEnumerable<Novella.ViewModels.RoleVM>

@{
    ViewData["Title"] = "User Roles Detail";
}

 <h3 class="user-detail-header">User: @ViewBag.UserName</h3>

 <p class="assign-roles-link">
    @Html.ActionLink("Assign Roles", "Create", new { userName = @ViewBag.UserName }, new { @class = "btn btn-primary" })
</p>

 <table class="table user-roles-table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.RoleName)</th>
            <th>Actions</th>  
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.RoleName)</td>
                <td>
                    @Html.ActionLink("Delete", "DeleteRoleFromUser", new { userName = @ViewBag.UserName, roleName = item.RoleName }, new { @class = "btn btn-danger btn-sm role-delete-btn", onclick = "return confirm('Are you sure you want to delete this role?');" })
                </td>
            </tr>
        }
    </tbody>
</table>
